.Table {
  th {
    text-align: center;
    vertical-align: middle;
    font-size: small;
    color: #234dba;
  }
  td {
    text-align: center;
    vertical-align: middle;
    font-size: 12;
  }

  
}
